<div>

    <h3>{{ playlist.name }} </h3>
    <table class='table' ng-show="playlist.songs.length">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Artists</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in playlist.songs" ng-class="{active: isCurrent(song)}">
                <td>
                    <button ng-hide="isCurrent(song)" ng-click="start(song)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
                <td>{{ song.name }}</td>
                <td><span ng-repeat="artist in song.artists">{{ artist.name }} </span></td>
                <td>{{ song.genres.join(', ') }}</td>
            </tr>
        </tbody>
    </table>
    <small ng-hide="playlist.songs.length">No songs.</small>
    <hr>
</div>
<!-- ************************* -->
<!-- add a song to a playlist  -->
<!-- ************************* -->
<div class="well">
    <form name="AddSong" ng-submit="submit()" class="form-horizontal">
        <fieldset>
            <legend>Add to Playlist</legend>
            <div class="form-group">
                <label class="col-xs-2 control-label">Song Title</label>
                <div class="col-xs-10">
                    <select name="songField" ng-model="newSong.title"  class="form-control" required>
                        <option ng-repeat="song in allSongs">
                            {{song}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <button type="submit" ng-disabled="PlaylistForm.$invalid" class="btn btn-success">Add to Playlist</button>
                </div>
            </div>
            <p>{{ playlist }}
        </fieldset>
    </form>
</div>